.emotion{
    margin: 10px;
    padding: 0 10px;

}
#emotion-form{
    float: right;
    padding: 10px 20px;
}
#display{
    text-align: center;

}
h1{
    text-align: center;
    font-display: 40px;

}